meta(charset='utf-8')
title Denis Rodionov
meta(name='description' content='Web developer: TypeScript, Angular, Vue, Elm, Go, Scala')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='preload' as='font' type='font/woff2' href='fonts/lato-v16-latin-regular.woff2' crossorigin='')
link(rel='preload' as='font' type='font/woff2' href='fonts/merriweather-v21-latin-300.woff2' crossorigin='')
link(rel='stylesheet' href='./style.scss')