svg(height='227' viewbox='0 0 262 227' width='262' xmlns='http://www.w3.org/2000/svg')
    g(fill='none' fill-rule='evenodd' transform='matrix(1 0 0 -1 -.3129 228.0088)')
      path(d='m161.3293 227.9943-30.224578-52.350691-30.224577 52.350691h-100.6521507l130.8767277-226.687666 130.876728 226.687666z' fill='#41b883' transform='translate(.079998 .013333)')
      path(d='m109.3306 137.3299-30.2245777-52.3506912-30.2245777 52.3506912h-48.3014591l78.5260368-136.009933 78.5260367 136.009933z' fill='#34495e' transform='translate(52.078698 90.677733)')