svg.tech-icon(height='2500' viewbox='0 0 1538 2500' width='1538' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  lineargradient#a(x1='0%' x2='100%' y1='50%' y2='50%')
    stop(offset='0' stop-color='#4f4f4f')
    stop(offset='1')
  lineargradient#b(x1='0%' x2='100%' y1='50%' y2='50%')
    stop(offset='0' stop-color='#c40000')
    stop(offset='1' stop-color='#f00')
  g(fill='none' fill-rule='evenodd')
    path(d='m0 1730.25v-192.25c0-32.40614 699.171195-86.68072 1154.70156-192.25 220.05416 51.00633 383.29844 113.9622 383.29844 192.25v192.25c0 78.24575-163.24428 141.24367-383.29844 192.25-455.536372-105.5873-1154.70156-159.86789-1154.70156-192.25' fill='url(#a)' transform='matrix(1 0 0 -1 0 3268.25)')
    path(d='m0 961.25v-192.25c0-32.406141 699.171195-86.680719 1154.70156-192.25 220.05416 51.006328 383.29844 113.962195 383.29844 192.25v192.25c0 78.24575-163.24428 141.24367-383.29844 192.25-455.536372-105.5873-1154.70156-159.867891-1154.70156-192.25' fill='url(#a)' transform='matrix(1 0 0 -1 0 1730.25)')
    g(fill='url(#b)')
      path(d='m0 1345.75v-576.75c0 48.0625 1538 144.1875 1538 384.5v576.75c0-240.3125-1538-336.4375-1538-384.5' transform='matrix(1 0 0 -1 0 2499.25)')
      path(d='m0 576.75v-576.75c0 48.0625 1538 144.1875 1538 384.5v576.75c0-240.3125-1538-336.4375-1538-384.5' transform='matrix(1 0 0 -1 0 961.25)')
      path(d='m0 2114.75v-576.75c0 48.0625 1538 144.1875 1538 384.5v576.75c0-240.3125-1538-336.4375-1538-384.5' transform='matrix(1 0 0 -1 0 4037.25)')