svg(height='324' viewbox='0 0 324 324' width='324' xmlns='http://www.w3.org/2000/svg')
  g(fill='none' fill-rule='evenodd')
    path(d='m161.649 152.782 69.865-69.866h-139.731z' fill='#f0ad00')
    path(d='m8.867 0 70.374 70.375h152.972l-70.375-70.375z' fill='#7fd13b')
    path(d='m192.987969 107.389824h107.674967v108.165963h-107.674967z' fill='#7fd13b' transform='matrix(.70710678 .70710678 -.70710678 .70710678 186.472017 -127.237662)')
    path(d='m323.298 143.724v-143.724h-143.725z' fill='#60b5cc')
    path(d='m152.781 161.649-152.781-152.781v305.564z' fill='#5a6378')
    path(d='m255.522 246.655 67.776 67.777v-135.553z' fill='#f0ad00')
    path(d='m161.649 170.517-152.78 152.781h305.561z' fill='#60b5cc')