li(title='TypeScript')
  include icon-typescript
li(title='ReasonML')
  include icon-reason
li(title='React')
  include icon-react
li(title='Angular')
  include icon-angular.pug
li(title='Vue')
  include icon-vue.pug
li(title='Rust')
  include icon-rust.pug
li(title='Go')
  include icon-go.pug
li(title='Scala')
  include icon-scala.pug