li(title='TypeScript')
  include icon-typescript
li(title='Angular')
  include icon-angular.pug
li(title='Vue')
  include icon-vue.pug
li(title='Elm')
  include icon-elm.pug
li(title='Go')
  include icon-go.pug
li(title='Scala')
  include icon-scala.pug