doctype html
html(lang="en")
  head
    include templates/head.pug
  body
    .content
      h1.name Denis Rodionov
      .occupation
        | Web developer
      ul.technologies
        include templates/technologies.pug
      .ideology
        | Strong typing. Actors. Balance between OOP&nbsp;&amp; functional worlds
    include templates/footer.pug
