doctype html
html(lang="en")
  head
    include templates/head.pug
  body
    .content
      h1.name Denis Rodionov
      .occupation
        | Web developer
      ul.technologies
        include templates/technologies.pug
    include templates/footer.pug
