@import 'styles/reset';
@import 'styles/fonts';
@import 'styles/colors';

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: $nord0;
  color: $nord7;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  justify-items: center;
  margin: 0;
  padding: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;

  h1.name {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    text-align: center;
  }

  .occupation {
    margin-top: -1rem;
    text-align: center;
  }

  .technologies {
    margin-top: 3rem;

    svg.tech-icon {
      height: 2rem;
      width: auto;
    }
  }

  .ideology {
    margin-top: -0.6rem;
  }
}

ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  li {
    list-style: none;
    margin: 0.5rem 1rem;
  }
}

footer {
  flex-shrink: 0;

  .contacts {
    li {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
